<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#336">

    <meta name="description" content="{{description}}">

    <meta itemprop="name" content="{{title}}">
    <meta itemprop="description" content="{{description}}">
    <meta itemprop="image" content="https://lh3.googleusercontent.com/4-Vtuv7MF7PgOLj7-lUEpOspf6jrgBGrAe9bd4rv_x-EoDMruowWJExeFdz5yYI6aQ=w300-rw">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="Christmas with Artcodes">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:creator" content="{{author}}">
    <meta name="twitter:image:src" content="https://lh3.googleusercontent.com/4-Vtuv7MF7PgOLj7-lUEpOspf6jrgBGrAe9bd4rv_x-EoDMruowWJExeFdz5yYI6aQ=w300-rw">

    <meta property="og:title" content="{{title}}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{url}}">
    <meta property="og:image" content="https://lh3.googleusercontent.com/4-Vtuv7MF7PgOLj7-lUEpOspf6jrgBGrAe9bd4rv_x-EoDMruowWJExeFdz5yYI6aQ=w300-rw">
    <meta property="og:description" content="{{description}}">
    <meta property="og:site_name" content="Christmas with Artcodes">
    <style>
		body {
		margin: 0px;
		font-family: sans-serif;
		display: -webkit-box;
		display: -webkit-flex;
		display: flex;
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		align-items: flex-start;
		}

		.title {
		font-size: 150%;
		font-weight: bold;
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		flex: 1;
		}

		.content {
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		flex: 1;
		margin: 16px;
		}

		.desc {
		text-align: justify;
		margin-top: 16px;
		margin-bottom: 16px;
		white-space: pre-wrap;
		}

		.apps {
		display: -webkit-box;
		display: -webkit-flex;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;
		}

		.app {
		margin: 20px;
		}

		.button {
		text-decoration: none;
		padding: 10px 20px;
		background: #336;
		border-radius: 4px;
		color: #FFF;
		margin-top: 16px;
		}

		@media screen and (orientation:portrait) {
			body {
				display: block;
			}

			.image {
				width: 100%;
			}
		}



    </style>
    <script language="javascript">
		window.onload = function(e) {
			if(/Android/i.test(navigator.userAgent))
			{
				document.getElementById('apapp').style.display = 'none';
			}
			else if(/iPhone|iPad|iPod/i.test(navigator.userAgent))
			{
				document.getElementById('goapp').style.display = 'none';
			}
        };

    </script>
</head>
<body>
<img class="image"
     src="https://lh3.googleusercontent.com/4-Vtuv7MF7PgOLj7-lUEpOspf6jrgBGrAe9bd4rv_x-EoDMruowWJExeFdz5yYI6aQ=w300-rw"/>

<div class="content">
    <div class="title">Christmas with Artcodes</div>
    <div class="desc">{{description}}</div>
    <div class="title" style="text-align: right">From {{author}}</div>
    <div class="apps">
        <a id="goapp"
           href='https://play.google.com/store/apps/details?id=uk.ac.horizon.artcodes.xmas&hl=en_GB&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
            <img alt='Get it on Google Play'
                 src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'
                 height="60"/>
        </a>

        <a id="apapp"
           href="https://itunes.apple.com/gb/app/christmas-with-artcodes/id1169128710?mt=8">
            <img src="//linkmaker.itunes.apple.com/assets/shared/badges/en-us/appstore-lrg.svg"
                 width="135" height="40">
        </a>
    </div>
</div>
</body>

</html>